# Análisis del efecto del covid en el valor de las acciones de Amazon
**por Victoria Perez Mola**

Este repositorio contiene un analisis de datos de los valores de las acciones de Amazon en los años 2019-2021. El foco del analisis es distinguir si hubo un impacto por el covid. 

## Objetivo 
El objetivo de este analisis es responder las siguientes preguntas: 
- Hubo un aumento de las acciones de Amazon producido por la pandemia? 
- Durante la duración de la pandemia, ese aumento fue mantenido? 
- Cual es el porcentaje de aumento de las acciones? 
- Hay un patrón en las fluctuaciones de los valores de las acciones durante la pandemia? 

## Tabla de contenidos 
1. Carga de datos
2. Exploración de datos
3. Limpieza de datos
4. Presentación de datos
5. Conclusiones
6. Referencias

## 1. Carga de datos
En esta sección vamos a cargar los datos obtenidos de kaggle acerca de los precios de las acciones de Amazon

In [1]:
# Importar las librerias
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 

%matplotlib inline

In [2]:
#importar los datos
df = pd.read_csv('data/Amazon.csv')

## 2. Exploración de datos 
Vamos a revisar los datos que hemos cargado

**Precios de las acciones**

In [9]:
df.head(7)

         Date      Open      High       Low     Close  Adj Close    Volume
0  1997-05-15  2.437500  2.500000  1.927083  1.958333   1.958333  72156000
1  1997-05-16  1.968750  1.979167  1.708333  1.729167   1.729167  14700000
2  1997-05-19  1.760417  1.770833  1.625000  1.708333   1.708333   6106800
3  1997-05-20  1.729167  1.750000  1.635417  1.635417   1.635417   5467200
4  1997-05-21  1.635417  1.645833  1.375000  1.427083   1.427083  18853200
5  1997-05-22  1.437500  1.447917  1.312500  1.395833   1.395833  11776800
6  1997-05-23  1.406250  1.520833  1.333333  1.500000   1.500000  15937200

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6135 entries, 0 to 6134
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       6135 non-null   object
 1   Open       6135 non-null   float64
 2   High       6135 non-null   float64
 3   Low        6135 non-null   float64
 4   Close      6135 non-null   float64
 5   Adj Close  6135 non-null   float64
 6   Volume     6135 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 335.6+ KB

In [6]:
df.shape

(6135, 7)

In [8]:
df.nunique()

Date         6135
Open         5441
High         5385
Low          5392
Close        5523
Adj Close    5523
Volume       5957
dtype: int64

Encontramos que el dataset de precios de acciones de amazon contiene los siguientes datos, no tiene valores nulos. 

Contiene datos desde el año 1997 hasta el 2021, para el analisis vamos a descartar las entradas correspondientes a los años previos al 2018. 

## 3. Limpieza de los datos
Con la información obtenida del set de datos vamos a realizar la limpiexa para poder conducir el análisis. 
- Eliminar las entradas previas al 2018 
- Llenar valores nulos 
- descartar columnas 
- Unificar valores de la columna 

En resumen vamos a enfocarnos en: 
- Que encontramos en el dataset que estaba mal y como vamos arreglarlo
- Que encontramos que no nos sirve y vamos a eliminarlo 
- que encontramos que nos sirve pero en otro formato y como vamos a modificarlo (renombrar la columna, agregar nuevas columnas, etc)

In [ ]:
# renombrar columnas
# agregar columnas

In [ ]:
#Guardo dataframe limpio 
pd.to_csv('data/Amazon_limpio.csv')

El dataset limpio tiene la forma y contiene los datos de esta manera. 


## 4. Presentación de datos
Vamos a presentar nuestros datos para responder las preguntas definidas en el objetivo del análisis.

## 5. Conclusiones 


## 6. Referencias